body, html {
  height: 100%;
  font-family: Arial, sans-serif;
  margin: 0;
  
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  -webkit-display: flex;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  -webkit-min-height: 100%;
  
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  background-color: white; /* Set the background color to match the body or desired color */
  z-index: 100; /* Set a higher z-index value to keep it above the other elements */
  -webkit-display: flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  -webkit-position: fixed;
  
}

.row {
  display: flex;
  justify-content: space-around; /* Adjust space between elements as needed */
  flex-wrap: wrap;
}

.khadi, .coek, .mainj {
  height: 70px;
  
}

.khadi, .coek {
  width: 120px;
  
}

.mainj {
  width: 500px;
  
}

.hm {
  color: brown;
  margin-top: 60px;
}

.input-container {
  margin-bottom: 16px;
}

label {
  display: block;
  margin-bottom: 4px;
}

select {
  width: 200px;
  height: 35px;
  padding: 8px;
}

#generateButton {
  display: block;
  margin: 16px auto;
}

#garmentSelect, #fabricSelect {
  display: inline-block;
  vertical-align: top;
  margin: 16px;
}

#sizeChartImage, #sizeChartImageH {
  height: 250px;
  width: 650px;
  margin: 16px;
  border:2px solid black;
}
#garmentImage {
  height: 250px;
  width: 550px;
  margin: 16px;
  
}

#garmentImage {
  width: 260px;
}
.image-container {
  text-align: center;
}

#garmentImage {
  max-width: 100%;
  height: 280px;
  width: 180px;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  -webkit-display: flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}

.insta, .link, .twit {
  height: 20px;
  width: 20px;
  margin: 0 8px;
}
.sop{
  position:relative;
  top:30px;
}

@media screen and (max-width: 768px) {
  .khadi, .coek, .mainj {
    height: 60px;
  }

  .khadi, .coek {
    width: 110px;
  }

  .mainj {
    width: 400px;
  }

  #sizeChartImage, #sizeChartImageH {
    height: 200px;
    width: 500px;
    border:2px solid black;
  }
  #garmentImage {
    height: 200px;
    width: 400px;
    
  }

  #garmentImage {
    height: 280px;
    width: 180px;
  }
}
.sop{
  position:relative;
  top:20px;
}
.footer{
  position: fixed; 
  width: 100%; 
  height: 77px;
  bottom: 0;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .khadi, .coek, .mainj {
    height: 30px;
  }

  .khadi, .coek {
    width: 50px;
  }

  .mainj {
    width: 200px;
  }

  #sizeChartImage, #sizeChartImageH {
    height: 150px;
    width: 225px;
    border:2px solid black;
  }
  #garmentImage {
    height: 150px;
    width: 225px;
    
  }

  #garmentImage {
    width: 100px;
  }
}
